Hi <%= @user.name %>,<br/>
Thanks for registering at Shelves! To confirm your registration , Please click this link :

<a href="http://localhost:4200/confirmEmail?token=<%=@user.confirm_token%>"> Activate from here </a>
<br/>
Regards,<br/>
Shelves Team
